fwk.base.core/bin/Debug/netcoreapp1.0/fwk.base.core.deps.json
fwk.base.core/bin/Debug/netcoreapp1.0/fwk.base.core.dll
fwk.base.core/bin/Debug/netcoreapp1.0/fwk.base.core.dll.nuspec
fwk.base.core/bin/Debug/netcoreapp1.0/fwk.base.core.pdb
fwk.base.core/obj/Debug/netcoreapp1.0/.IncrementalCache
fwk.base.core/obj/Debug/netcoreapp1.0/.SDKVersion
fwk.base.core/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
fwk.base.core/obj/Debug/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
fwk.base.core/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
.vs
.vs/fwk.base.core/v14/.suo
obj/
bin/
.vs/fwk.base.core/v16/.suo
fwk.base.core/fwk.base.core.csproj.user
